<a href="https://colab.research.google.com/github/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/blob/main/Modelo_predictivo_de_satisfacci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODELO PREDICTIVO DE SATISFACCIÓN DE PROYECTO SOLIDARIO

Modelo clasificador que puede predecir el grado de satisfacción de estudiantes del Tecnológico de Monterrey en su experiencia realizando un proyecto solidario con una organización socio formadora.

## I. COMPRENSIÓN DEL NEGOCIO

## II. COMPRENSIÓN DE LOS DATOS

### II.1 Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### II.2 Lectura de datos

#### II.2.1. Cargar todos los archivos csv

In [2]:
# Url de archivos csv
url1 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Encuesta%2Ba%2BEstudiantes%2BPS_17%2Bde%2Bmayo%2Bde%2B2023_12.05.csv'
url2 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BFJ22%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.17.csv'
url3 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BAD22%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.07.csv'
url4 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS_INV23%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.22.csv'
url5 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BFJ23_17%2Bde%2Bmayo%2Bde%2B2023_12.28.csv'

In [3]:
df_1 = pd.read_csv(url1)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)
df_4 = pd.read_csv(url4)
df_5 = pd.read_csv(url5)

In [8]:
# Se elimina la primera fila, porque repite el nombre de la columna
# pero en español
df_inv22 = df_1.drop(0)
df_fj22 = df_2.drop(0)
df_ad22 = df_3.drop(0)
df_inv23 = df_4.drop(0)
df_fj23 = df_5.drop(0)

# Agregando una primera columna indicando el periodo
df_inv22.insert(0, 'Period', 'INV22')
df_fj22.insert(0, 'Period', 'FJ22')
df_ad22.insert(0, 'Period', 'AD22')
df_inv23.insert(0, 'Period', 'INV23')
df_fj23.insert(0, 'Period', 'FJ23')

#### II.2.2. Unificar archivos

In [9]:
df_m = pd.merge(df_inv22, df_fj22, how='outer')\
         .merge(df_ad22, how='outer')\
         .merge(df_inv23, how='outer')\
         .merge(df_fj23, how='outer');

### II.3 Calidad de los datos

In [10]:
df_m.head(5)

,Period,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Nombre de Experiencia,Periodo,Semana,Tipo de Formato,Q11,Q9.1,RecipientFirstName,Q1,Q2,Q10
0,INV22,22/04/2021 13:24,22/04/2021 13:26,Survey Preview,NaN,100,132,True,22/04/2021 13:26,R_12tdDn1LDz4BmzD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INV22,22/04/2021 17:35,22/04/2021 17:38,IP Address,187.153.66.173,100,207,True,22/04/2021 17:38,R_3nBhoMQcs4l6UzN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INV22,22/04/2021 18:31,22/04/2021 18:34,IP Address,187.189.141.187,100,168,True,22/04/2021 18:34,R_3CT33YuqT2viJVr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INV22,23/04/2021 04:47,23/04/2021 04:53,IP Address,45.238.188.41,100,349,True,23/04/2021 04:53,R_2Vr6CJ6upwFerdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INV22,23/04/2021 07:45,23/04/2021 07:49,IP Address,189.152.158.35,100,245,True,23/04/2021 07:49,R_cTjIZnPkeIWYVUZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print('Filas: ', df_m.shape[0])
print('Columnas: ', df_m.shape[1])

Filas:  10499
Columnas:  46

In [12]:
df_m.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10499 entries, 0 to 10498
Columns: 46 entries, Period to Q10
dtypes: object(46)
memory usage: 3.7+ MB

In [18]:
pd.DataFrame(round(df_m.isnull().sum()/len(df_m)*100, 0))

                                                        0
Period                                                0.0
StartDate                                             0.0
EndDate                                               0.0
Status                                                0.0
IPAddress                                             0.0
Progress                                              0.0
Duration (in seconds)                                 0.0
Finished                                              0.0
RecordedDate                                          0.0
ResponseId                                            0.0
RecipientLastName                                    52.0
RecipientEmail                                       31.0
ExternalReference                                   100.0
LocationLatitude                                      0.0
LocationLongitude                                     0.0
DistributionChannel                                  14.0
UserLanguage                                          0.0
Al concluir este Bloque con Sentido Humano            0.0
Vivir la experiencia de aprendizaje relacionada...    0.0
Nivel de sensibilización que aportó esta unidad...    0.0
Seguimiento y liderazgo que dio la organización...    0.0
Herramientas que aplicaste como las actividades...    0.0
Q2_6                                                  0.0
Q2_7                                                  0.0
Q2_8                                                  0.0
Q5                                                    0.0
Q9                                                    0.0
Q6                                                    1.0
Al concluir este Bloque con Sentido Humano.1          0.0
Vivir la experiencia de aprendizaje relacionada...    0.0
Nivel de sensibilización que aportó esta unidad...    0.0
Seguimiento y liderazgo que dio la organización...    0.0
Q3                                                   13.0
Q7                                                   13.0
OSF                                                  45.0
CRN                                                  45.0
Nombre de Experiencia                                83.0
Periodo                                              83.0
Semana                                               83.0
Tipo de Formato                                      83.0
Q11                                                  74.0
Q9.1                                                 63.0
RecipientFirstName                                  100.0
Q1                                                   89.0
Q2                                                   96.0
Q10                                                  97.0