<a href="https://colab.research.google.com/github/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/blob/main/Modelo_predictivo_de_satisfacci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODELO PREDICTIVO DE SATISFACCIÓN DE PROYECTO SOLIDARIO

Modelo clasificador que puede predecir el grado de satisfacción de estudiantes del Tecnológico de Monterrey en su experiencia realizando un proyecto solidario con una organización socio formadora.

## I. COMPRENSIÓN DEL NEGOCIO

## II. COMPRENSIÓN DE LOS DATOS

### II.1 Importación de librerías

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### II.2 Lectura de datos

#### II.2.1. Cargar todos los archivos csv

In [14]:
# Url de archivos csv
url1 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Encuesta%2Ba%2BEstudiantes%2BPS_17%2Bde%2Bmayo%2Bde%2B2023_12.05.csv'
url2 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BFJ22%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.17.csv'
url3 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BAD22%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.07.csv'
url4 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS_INV23%2BTEC21_17%2Bde%2Bmayo%2Bde%2B2023_12.22.csv'
url5 = 'https://raw.githubusercontent.com/EstebanPerez25/ACD-Modelo_predictivo_de_satisfacion/main/Estudiantes%2BPS%2BFJ23_17%2Bde%2Bmayo%2Bde%2B2023_12.28.csv'

In [15]:
df_1 = pd.read_csv(url1)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)
df_4 = pd.read_csv(url4)
df_5 = pd.read_csv(url5)

In [16]:
df_5.head(2)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Vivir la experiencia de aprendizaje relacionada con un Objetivo de Desarrollo Sostenible.1,Nivel de sensibilización que aportó esta unidad de formación para la atención de necesidades sociales.1,Seguimiento y liderazgo que dio la organización socio formadora en el desarrollo de tu experiencia.1,Q9,Q10,CRN,Nombre de Experiencia,OSF,Periodo,Tipo de Formato
0,Fecha de inicio,Fecha final,Tipo de respuesta,Dirección IP,Progreso,Duración (en segundos),Finalizado,Fecha registrada,ID de respuesta,Apellido del destinatario,...,5. Expresa tu opinión en los siguientes enunci...,5. Expresa tu opinión en los siguientes enunci...,5. Expresa tu opinión en los siguientes enunci...,6. Comparte algo en particular sobre la experi...,6.1 Tu comentario sobre la experiencia es:,CRN,Nombre de Experiencia,OSF,Periodo,Tipo de Formato
1,17/03/2023 14:43,17/03/2023 14:45,IP Address,131.178.102.192,100,154,True,17/03/2023 14:45,R_R9rximFWD7D9eGl,NaN,...,\n5 Totalmente de Acuerdo,\n5 Totalmente de Acuerdo,\n5 Totalmente de Acuerdo,Muy bien y recomendaría a los arquitectos y di...,Área de oportunidad,NaN,NaN,NaN,NaN,NaN

In [17]:
# Se elimina la primera fila, porque repite el nombre de la columna
# pero en español
df_inv22 = df_1.drop(0)
df_fj22 = df_2.drop(0)
df_ad22 = df_3.drop(0)
df_inv23 = df_4.drop(0)
df_fj23 = df_5.drop(0)

# Agregando una primera columna indicando el periodo
df_inv22.insert(0, 'Period', 'INV22')
df_fj22.insert(0, 'Period', 'FJ22')
df_ad22.insert(0, 'Period', 'AD22')
df_inv23.insert(0, 'Period', 'INV23')
df_fj23.insert(0, 'Period', 'FJ23')

#### II.2.2. Unificar archivos

In [21]:
df_m = pd.merge(df_inv22, df_fj22, how='outer')\
         .merge(df_ad22, how='outer')\
         .merge(df_inv23, how='outer')\
         .merge(df_fj23, how='outer');

<ipython-input-21-94ecea9c807b>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_m = pd.merge(df_inv22, df_fj22, how='outer')\
<ipython-input-21-94ecea9c807b>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_m = pd.merge(df_inv22, df_fj22, how='outer')\
<ipython-input-21-94ecea9c807b>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_m = pd.merge(df_inv22, df_fj22, how='outer')\
<ipython-input-21-94ecea9c807b>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_m = pd.merge(df_inv22, df_fj22, how='outer')\
<ipython-input-21-94ecea9c807b>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_m = pd.merge(df_inv22, df_fj22, how='outer')\

### II.3 Calidad de los datos

In [22]:
df_m.head(5)

,Period,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,Nombre de Experiencia,Periodo,Semana,Tipo de Formato,Q11,Q9.1,RecipientFirstName,Q1,Q2,Q10
0,INV22,22/04/2021 13:24,22/04/2021 13:26,Survey Preview,NaN,100,132,True,22/04/2021 13:26,R_12tdDn1LDz4BmzD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INV22,22/04/2021 17:35,22/04/2021 17:38,IP Address,187.153.66.173,100,207,True,22/04/2021 17:38,R_3nBhoMQcs4l6UzN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INV22,22/04/2021 18:31,22/04/2021 18:34,IP Address,187.189.141.187,100,168,True,22/04/2021 18:34,R_3CT33YuqT2viJVr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INV22,23/04/2021 04:47,23/04/2021 04:53,IP Address,45.238.188.41,100,349,True,23/04/2021 04:53,R_2Vr6CJ6upwFerdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INV22,23/04/2021 07:45,23/04/2021 07:49,IP Address,189.152.158.35,100,245,True,23/04/2021 07:49,R_cTjIZnPkeIWYVUZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print('Filas: ', df_m.shape[0])
print('Columnas: ', df_m.shape[1])

Filas:  10499
Columnas:  46

In [23]:
df_m.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10499 entries, 0 to 10498
Columns: 46 entries, Period to Q10
dtypes: object(46)
memory usage: 3.8+ MB

In [24]:
pd.DataFrame(df_m.isnull().sum())

                                                        0
Period                                                  0
StartDate                                               0
EndDate                                                 0
Status                                                  0
IPAddress                                               3
Progress                                                0
Duration (in seconds)                                   0
Finished                                                0
RecordedDate                                            0
ResponseId                                              0
RecipientLastName                                    5504
RecipientEmail                                       3299
ExternalReference                                   10499
LocationLatitude                                        4
LocationLongitude                                       4
DistributionChannel                                  1520
UserLanguage                                            0
Al concluir este Bloque con Sentido Humano              2
Vivir la experiencia de aprendizaje relacionada...      2
Nivel de sensibilización que aportó esta unidad...      2
Seguimiento y liderazgo que dio la organización...      2
Herramientas que aplicaste como las actividades...      2
Q2_6                                                    2
Q2_7                                                    2
Q2_8                                                    2
Q5                                                      2
Q9                                                     51
Q6                                                    157
Al concluir este Bloque con Sentido Humano.1            2
Vivir la experiencia de aprendizaje relacionada...      2
Nivel de sensibilización que aportó esta unidad...      2
Seguimiento y liderazgo que dio la organización...      2
Q3                                                   1398
Q7                                                   1389
OSF                                                  4695
CRN                                                  4695
Nombre de Experiencia                                8707
Periodo                                              8707
Semana                                               8720
Tipo de Formato                                      8707
Q11                                                  7735
Q9.1                                                 6584
RecipientFirstName                                  10499
Q1                                                   9375
Q2                                                  10130
Q10                                                 10180